body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}





.main-container{
    display: flex;
    width: 330px;
    height: 650px;
    background-color: black;
    border-radius: 50px;
    border:14px solid #1c1c1e;
    box-shadow:
     0 40px 100px rgba(0, 0, 0, 0.5),
     inset 0 0 0 2px rgba(255, 255, 255, 0.05);
    flex-direction: column;
    justify-content: end;
    
}
.display-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    width: 300px;
    margin: 0 15px;

    overflow: hidden; /* Hide overflow to prevent scrollbars */

  
}



.current-operand, 
.previous-operand {
    max-width: 100%;
    white-space: nowrap;

    overflow-x: auto;
    overflow-y: hidden;

    cursor: grab; /* Indicate that the element can be dragged */
    user-select: none; /* Prevent text selection while dragging */
    flex-shrink: 0;

    width: max-content;

    /* hide scrollbars */

    scrollbar-width: none; /* Firefox */
    
    -ms-overflow-style: none;

}

/* hide scrollbar (optional) */
.previous-operand::-webkit-scrollbar,
.current-operand::-webkit-scrollbar {
    display: none;
}





.previous-operand{
    color: gray;
    font-size: 23px;
    transition: none;
}
.current-operand{
    color: rgb(255, 255, 255);
    font-size: 60px;
    transition: none;
}



.buttons-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 390px;
    align-self: flex-end;
    margin-bottom: 50px;
    gap: 4px;
    flex-shrink: 0;
    flex-grow: 0;

}
.button-one{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: rgb(100, 100, 100);
    color: white;
    font-size: 30px;
    

}
.button-two{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: rgb(20, 15, 83);
    color: white;
    font-size: 30px;


}
.button-three  {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 30px;


}

