body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}





.main-container{
    display: flex;
    width: 330px;
    height: 650px;
    background-color: black;
    border-radius: 50px;
    border:14px solid #1c1c1e;
    box-shadow:
     0 40px 100px rgba(0, 0, 0, 0.5),
     inset 0 0 0 2px rgba(255, 255, 255, 0.05);
    flex-direction: column;
    justify-content: end;
    
}
.display-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 300px;
    margin-right: 15px;
    margin-left: 15px;
    /* overflow-x: auto; */
    overflow-y: hidden;
    position: relative;
    cursor: grab; /* Indicate draggable content */
    scroll-behavior: smooth; /* Smooth scrolling when dragging */
    overflow-x: scroll; /* Enable horizontal scrolling with a scrollbar */
    scrollbar-width: thin; /* Optional: Make the scrollbar thinner */

}

.current-operand, .previous-operand {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
    cursor: grab; /* Indicate draggable content */
    user-select: none; /* Prevent text selection while dragging */
}


.previous-operand{
    color: gray;
    font-size: 23px;
    transition: font-size 0.2s ease; /* Smooth font size adjustment */
}
.current-operand{
    color: rgb(255, 255, 255);
    font-size: 60px;
    transition: font-size 0.2s ease; /* Smooth font size adjustment */
}
/* Reduce font size when text overflows */
.display-container:has(.current-operand:overflowing) .current-operand {
    font-size: 40px; /* Adjust as needed */
}

.display-container:has(.previous-operand:overflowing) .previous-operand {
    font-size: 18px; /* Adjust as needed */
}


.buttons-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 390px;
    align-self: flex-end;
    margin-bottom: 50px;
    gap: 4px;
    flex-shrink: 0;
    flex-grow: 0;

}
.button-one{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: rgb(100, 100, 100);
    color: white;
    font-size: 30px;
    

}
.button-two{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: rgb(20, 15, 83);
    color: white;
    font-size: 30px;


}
.button-three  {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 30px;


}
